<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2"> 
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <strong>Sign up</strong>
                  </div>
                  <div class="panel-body">
                      <form class="form-horizontal" role="form" ng-submit="signup()">

                          <div class="form-group">
                              <label for="email" class="col-sm-2 control-label">Email</label>

                              <div class="col-sm-10">
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                         ng-model="email">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="username" class="col-sm-2 control-label">User</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="username" name="username"
                                         placeholder="username" ng-model="username">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="password" class="col-sm-2 control-label">Pass</label>

                              <div class="col-sm-10">
                                  <input type="password" class="form-control" id="password" name="password"
                                         placeholder="Password" ng-model="password">
                              </div>
                          </div>

                           <div class="form-group">
                              <label for="last_name" class="col-sm-2 control-label">Last Name</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="last_name" name="last_name"
                                         placeholder="last_name" ng-model="last_name">
                              </div>
                          </div>

                            <div class="form-group">
                              <label for="first_name" class="col-sm-2 control-label">First name</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="first_name" name="first_name"
                                         placeholder="first_name" ng-model="first_name">
                              </div>
                          </div>

                            <div class="form-group">
                              <label for="billing_address" class="col-sm-2 control-label">Address</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="billing_address" name="billing_address"
                                         placeholder="billing_address" ng-model="billing_address">
                              </div>
                          </div>

                            <div class="form-group">
                              <label for="dni" class="col-sm-2 control-label">Dni</label>

                              <div class="col-sm-10">
                                  <input type="number" class="form-control" id="dni" name="password"
                                         placeholder="dni" ng-model="dni">
                              </div>
                          </div>

                            <div class="form-group">
                              <label for="city" class="col-sm-2 control-label">City</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="city" name="city"
                                         placeholder="city" ng-model="city">
                              </div>
                          </div>

                            <div class="form-group">
                              <label for="state" class="col-sm-2 control-label">State</label>

                              <div class="col-sm-10">
                                  <input type="string" class="form-control" id="state" name="state"
                                         placeholder="state" ng-model="state">
                              </div>
                          </div>

                           <div class="form-group">
                              <label for="postal_code" class="col-sm-2 control-label">Postal Code</label>

                              <div class="col-sm-10">
                                  <input type="number" class="form-control" id="postal_code" name="password"
                                         placeholder="postal_code" ng-model="postal_code">
                              </div>
                          </div>

                           <div class="form-group">
                              <label for="phone" class="col-sm-2 control-label">Phone</label>

                              <div class="col-sm-10">
                                  <input type="number" class="form-control" id="phone" name="phone"
                                         placeholder="phone" ng-model="phone">
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary pull-right">Sign up</button>
                              </div>
                          </div>
                          <p data-ng-show="error" class="error">{{ error }}</p>
                      </form>
                  </div>
              </div>
          </div>
      </div>            
        </div>
          </div>
      </div>